@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&family=Oleo+Script+Swash+Caps&display=swap");

p,
h1,
h2,
h3,
a {
  font-family: "DM Sans", sans-serif;
}

html,
body,
.main-container {
  width: 100%;
  height: 100%;
  margin: 0px;
}

* {
  margin: 0;
}

body {
  background: radial-gradient(
    237.98% 158.72% at 50% 50%,
    #fff 0%,
    #88c6ff 100%
  );
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: fit-content;
}

.card {
  width: 100%;
  max-width: 350px;
  background: white;
  border-radius: 20px;
  padding: 15px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card .avatar {
  width: 40px;
  height: 40px;
  background-image: url("./assets/avatar.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.card .subtitle {
  font-size: 12px;
  font-weight: 400;
  color: #141416;
}

.card .title {
  font-size: 15px;
  font-weight: 700;
  color: #141416;
}

.card .cover {
  width: 100%;
  border-radius: 20px;
}

.card .text {
  font-size: 13px;
  font-weight: 400;
  color: #141416;
  padding: 0 4px;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 1180px;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-container .title {
  color: #141416;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  display: flex;
}

.title-container .subtitle {
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

header {
  padding: 30px 20px;
}

.logo-container {
  max-width: 1600px;
}

footer {
  background-color: #01002f;
  padding: 20px;
}

.footer-container {
  display: flex;
  max-width: 1600px;
  justify-content: space-between;
  align-items: center;
}
.footer-left {
  align-items: start;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.footer-right {
  align-items: end;
  display: flex;
  gap: 20px;
}

.icon-item {
  border: 1px rgba(255, 255, 255, 0.3) solid;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 1080px) {
  body {
    color: green;
  }
}

@media (max-width: 980px) {
  body {
    color: blue;
  }
}

@media (max-width: 690px) {
  body {
    color: red;
  }
}
